@font-face {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 700;
  src: local("IBM Plex Sans Bold"),local("IBMPlexSans-Bold"),url(/assets/fonts/IBMPlexSans-Bold-Cyrillic.9b1623e0.woff2) format("woff2");
  unicode-range: U+0400-045f,U+0462-0463,U+0472-0475,U+0490-04c2,U+04cf-04d9,U+04dc-04e9,U+04ee-04f9,U+0524-0525
}

@font-face {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 700;
  src: local("IBM Plex Sans Bold"),local("IBMPlexSans-Bold"),url(/assets/fonts/IBMPlexSans-Bold-Greek.324a7685.woff2) format("woff2");
  unicode-range: U+037e,U+0386-038a,U+038c,U+038e-03a1,U+03a3-03ce
}

@font-face {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 700;
  src: local("IBM Plex Sans Bold"),local("IBMPlexSans-Bold"),url(/assets/fonts/IBMPlexSans-Bold-Latin1.e6d77d74.woff2) format("woff2");
  unicode-range: U+0000,U+000d,U+0020-007e,U+00a0-00ff,U+0131,U+0152-0153,U+02c6,U+02da,U+02dc,U+2013-2014,U+2018-201a,U+201c-201e,U+2020-2022,U+2026,U+2030,U+2039-203a,U+2044,U+20ac,U+2122,U+2212,U+fb01-fb02
}

@font-face {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 700;
  src: local("IBM Plex Sans Bold"),local("IBMPlexSans-Bold"),url(/assets/fonts/IBMPlexSans-Bold-Latin2.18fec869.woff2) format("woff2");
  unicode-range: U+0100-0101,U+0104-0130,U+0132-0151,U+0154-017f,U+018f,U+0192,U+01a0-01a1,U+01af-01b0,U+01fa-01ff,U+0218-021b,U+0237,U+0259,U+1e80-1e85,U+1e9e,U+20a1,U+20a4,U+20a6,U+20a8-20aa,U+20ad-20ae,U+20b1-20b2,U+20b4-20b5,U+20b8-20ba,U+20bd,U+20bf
}

@font-face {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 700;
  src: local("IBM Plex Sans Bold"),local("IBMPlexSans-Bold"),url(/assets/fonts/IBMPlexSans-Bold-Latin3.d72e3fae.woff2) format("woff2");
  unicode-range: U+0102-0103,U+01cd-01dc,U+1ea0-1ef9,U+20ab
}

@font-face {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 700;
  src: local("IBM Plex Sans Bold"),local("IBMPlexSans-Bold"),url(/assets/fonts/IBMPlexSans-Bold-Pi.f786c765.woff2) format("woff2");
  unicode-range: U+0e3f,U+2000-200d,U+2015,U+2028-2029,U+202f,U+2032-2033,U+2070,U+2074-2079,U+2080-2089,U+2113,U+2116,U+2126,U+212e,U+2150-2151,U+2153-215e,U+2190-2199,U+21a9-21aa,U+21b0-21b3,U+21b6-21b7,U+21ba-21bb,U+21c4,U+21c6,U+2202,U+2206,U+220f,U+2211,U+2215,U+221a,U+221e,U+222b,U+2248,U+2260,U+2264-2265,U+25ca,U+2713,U+274c,U+2b0e-2b11,U+ece0,U+efcc,U+feff,U+fffd
}

@font-face {
  font-family: IBM Plex Sans;
  font-style: italic;
  font-weight: 700;
  src: local("IBM Plex Sans Bold Italic"),local("IBMPlexSans-BoldItalic"),url(/assets/fonts/IBMPlexSans-BoldItalic-Cyrillic.88da00e9.woff2) format("woff2");
  unicode-range: U+0400-045f,U+0462-0463,U+0472-0475,U+0490-04c2,U+04cf-04d9,U+04dc-04e9,U+04ee-04f9,U+0524-0525
}

@font-face {
  font-family: IBM Plex Sans;
  font-style: italic;
  font-weight: 700;
  src: local("IBM Plex Sans Bold Italic"),local("IBMPlexSans-BoldItalic"),url(/assets/fonts/IBMPlexSans-BoldItalic-Greek.8061fad2.woff2) format("woff2");
  unicode-range: U+037e,U+0386-038a,U+038c,U+038e-03a1,U+03a3-03ce
}

@font-face {
  font-family: IBM Plex Sans;
  font-style: italic;
  font-weight: 700;
  src: local("IBM Plex Sans Bold Italic"),local("IBMPlexSans-BoldItalic"),url(/assets/fonts/IBMPlexSans-BoldItalic-Latin1.6526d0a3.woff2) format("woff2");
  unicode-range: U+0000,U+000d,U+0020-007e,U+00a0-00ff,U+0131,U+0152-0153,U+02c6,U+02da,U+02dc,U+2013-2014,U+2018-201a,U+201c-201e,U+2020-2022,U+2026,U+2030,U+2039-203a,U+2044,U+20ac,U+2122,U+2212,U+fb01-fb02
}

@font-face {
  font-family: IBM Plex Sans;
  font-style: italic;
  font-weight: 700;
  src: local("IBM Plex Sans Bold Italic"),local("IBMPlexSans-BoldItalic"),url(/assets/fonts/IBMPlexSans-BoldItalic-Latin2.bc41de59.woff2) format("woff2");
  unicode-range: U+0100-0101,U+0104-0130,U+0132-0151,U+0154-017f,U+018f,U+0192,U+01a0-01a1,U+01af-01b0,U+01fa-01ff,U+0218-021b,U+0237,U+0259,U+1e80-1e85,U+1e9e,U+20a1,U+20a4,U+20a6,U+20a8-20aa,U+20ad-20ae,U+20b1-20b2,U+20b4-20b5,U+20b8-20ba,U+20bd,U+20bf
}

@font-face {
  font-family: IBM Plex Sans;
  font-style: italic;
  font-weight: 700;
  src: local("IBM Plex Sans Bold Italic"),local("IBMPlexSans-BoldItalic"),url(/assets/fonts/IBMPlexSans-BoldItalic-Latin3.9d12763d.woff2) format("woff2");
  unicode-range: U+0102-0103,U+01cd-01dc,U+1ea0-1ef9,U+20ab
}

@font-face {
  font-family: IBM Plex Sans;
  font-style: italic;
  font-weight: 700;
  src: local("IBM Plex Sans Bold Italic"),local("IBMPlexSans-BoldItalic"),url(/assets/fonts/IBMPlexSans-BoldItalic-Pi.697a49c0.woff2) format("woff2");
  unicode-range: U+0e3f,U+2000-200d,U+2015,U+2028-2029,U+202f,U+2032-2033,U+2070,U+2074-2079,U+2080-2089,U+2113,U+2116,U+2126,U+212e,U+2150-2151,U+2153-215e,U+2190-2199,U+21a9-21aa,U+21b0-21b3,U+21b6-21b7,U+21ba-21bb,U+21c4,U+21c6,U+2202,U+2206,U+220f,U+2211,U+2215,U+221a,U+221e,U+222b,U+2248,U+2260,U+2264-2265,U+25ca,U+2713,U+274c,U+2b0e-2b11,U+ece0,U+efcc,U+feff,U+fffd
}

@font-face {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  src: local("IBM Plex Sans Medm"),local("IBMPlexSans-Medm"),url(/assets/fonts/IBMPlexSans-Medium-Cyrillic.9d8b39f0.woff2) format("woff2");
  unicode-range: U+0400-045f,U+0462-0463,U+0472-0475,U+0490-04c2,U+04cf-04d9,U+04dc-04e9,U+04ee-04f9,U+0524-0525
}

@font-face {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  src: local("IBM Plex Sans Medm"),local("IBMPlexSans-Medm"),url(/assets/fonts/IBMPlexSans-Medium-Greek.2df06c1d.woff2) format("woff2");
  unicode-range: U+037e,U+0386-038a,U+038c,U+038e-03a1,U+03a3-03ce
}

@font-face {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  src: local("IBM Plex Sans Medm"),local("IBMPlexSans-Medm"),url(/assets/fonts/IBMPlexSans-Medium-Latin1.70e68461.woff2) format("woff2");
  unicode-range: U+0000,U+000d,U+0020-007e,U+00a0-00ff,U+0131,U+0152-0153,U+02c6,U+02da,U+02dc,U+2013-2014,U+2018-201a,U+201c-201e,U+2020-2022,U+2026,U+2030,U+2039-203a,U+2044,U+20ac,U+2122,U+2212,U+fb01-fb02
}

@font-face {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  src: local("IBM Plex Sans Medm"),local("IBMPlexSans-Medm"),url(/assets/fonts/IBMPlexSans-Medium-Latin2.d700d31d.woff2) format("woff2");
  unicode-range: U+0100-0101,U+0104-0130,U+0132-0151,U+0154-017f,U+018f,U+0192,U+01a0-01a1,U+01af-01b0,U+01fa-01ff,U+0218-021b,U+0237,U+0259,U+1e80-1e85,U+1e9e,U+20a1,U+20a4,U+20a6,U+20a8-20aa,U+20ad-20ae,U+20b1-20b2,U+20b4-20b5,U+20b8-20ba,U+20bd,U+20bf
}

@font-face {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  src: local("IBM Plex Sans Medm"),local("IBMPlexSans-Medm"),url(/assets/fonts/IBMPlexSans-Medium-Latin3.623c9720.woff2) format("woff2");
  unicode-range: U+0102-0103,U+01cd-01dc,U+1ea0-1ef9,U+20ab
}

@font-face {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  src: local("IBM Plex Sans Medm"),local("IBMPlexSans-Medm"),url(/assets/fonts/IBMPlexSans-Medium-Pi.cbb45a86.woff2) format("woff2");
  unicode-range: U+0e3f,U+2000-200d,U+2015,U+2028-2029,U+202f,U+2032-2033,U+2070,U+2074-2079,U+2080-2089,U+2113,U+2116,U+2126,U+212e,U+2150-2151,U+2153-215e,U+2190-2199,U+21a9-21aa,U+21b0-21b3,U+21b6-21b7,U+21ba-21bb,U+21c4,U+21c6,U+2202,U+2206,U+220f,U+2211,U+2215,U+221a,U+221e,U+222b,U+2248,U+2260,U+2264-2265,U+25ca,U+2713,U+274c,U+2b0e-2b11,U+ece0,U+efcc,U+feff,U+fffd
}

@font-face {
  font-family: IBM Plex Sans;
  font-style: italic;
  font-weight: 500;
  src: local("IBM Plex Sans Medm Italic"),local("IBMPlexSans-MedmItalic"),url(/assets/fonts/IBMPlexSans-MediumItalic-Cyrillic.2ee2e03a.woff2) format("woff2");
  unicode-range: U+0400-045f,U+0462-0463,U+0472-0475,U+0490-04c2,U+04cf-04d9,U+04dc-04e9,U+04ee-04f9,U+0524-0525
}

@font-face {
  font-family: IBM Plex Sans;
  font-style: italic;
  font-weight: 500;
  src: local("IBM Plex Sans Medm Italic"),local("IBMPlexSans-MedmItalic"),url(/assets/fonts/IBMPlexSans-MediumItalic-Greek.08172171.woff2) format("woff2");
  unicode-range: U+037e,U+0386-038a,U+038c,U+038e-03a1,U+03a3-03ce
}

@font-face {
  font-family: IBM Plex Sans;
  font-style: italic;
  font-weight: 500;
  src: local("IBM Plex Sans Medm Italic"),local("IBMPlexSans-MedmItalic"),url(/assets/fonts/IBMPlexSans-MediumItalic-Latin1.8642b4c3.woff2) format("woff2");
  unicode-range: U+0000,U+000d,U+0020-007e,U+00a0-00ff,U+0131,U+0152-0153,U+02c6,U+02da,U+02dc,U+2013-2014,U+2018-201a,U+201c-201e,U+2020-2022,U+2026,U+2030,U+2039-203a,U+2044,U+20ac,U+2122,U+2212,U+fb01-fb02
}

@font-face {
  font-family: IBM Plex Sans;
  font-style: italic;
  font-weight: 500;
  src: local("IBM Plex Sans Medm Italic"),local("IBMPlexSans-MedmItalic"),url(/assets/fonts/IBMPlexSans-MediumItalic-Latin2.0b654243.woff2) format("woff2");
  unicode-range: U+0100-0101,U+0104-0130,U+0132-0151,U+0154-017f,U+018f,U+0192,U+01a0-01a1,U+01af-01b0,U+01fa-01ff,U+0218-021b,U+0237,U+0259,U+1e80-1e85,U+1e9e,U+20a1,U+20a4,U+20a6,U+20a8-20aa,U+20ad-20ae,U+20b1-20b2,U+20b4-20b5,U+20b8-20ba,U+20bd,U+20bf
}

@font-face {
  font-family: IBM Plex Sans;
  font-style: italic;
  font-weight: 500;
  src: local("IBM Plex Sans Medm Italic"),local("IBMPlexSans-MedmItalic"),url(/assets/fonts/IBMPlexSans-MediumItalic-Latin3.3bf352ec.woff2) format("woff2");
  unicode-range: U+0102-0103,U+01cd-01dc,U+1ea0-1ef9,U+20ab
}

@font-face {
  font-family: IBM Plex Sans;
  font-style: italic;
  font-weight: 500;
  src: local("IBM Plex Sans Medm Italic"),local("IBMPlexSans-MedmItalic"),url(/assets/fonts/IBMPlexSans-MediumItalic-Pi.96e28281.woff2) format("woff2");
  unicode-range: U+0e3f,U+2000-200d,U+2015,U+2028-2029,U+202f,U+2032-2033,U+2070,U+2074-2079,U+2080-2089,U+2113,U+2116,U+2126,U+212e,U+2150-2151,U+2153-215e,U+2190-2199,U+21a9-21aa,U+21b0-21b3,U+21b6-21b7,U+21ba-21bb,U+21c4,U+21c6,U+2202,U+2206,U+220f,U+2211,U+2215,U+221a,U+221e,U+222b,U+2248,U+2260,U+2264-2265,U+25ca,U+2713,U+274c,U+2b0e-2b11,U+ece0,U+efcc,U+feff,U+fffd
}

@font-face {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 400;
  src: local("IBM Plex Sans"),local("IBMPlexSans"),url(/assets/fonts/IBMPlexSans-Regular-Cyrillic.ced56ee5.woff2) format("woff2");
  unicode-range: U+0400-045f,U+0462-0463,U+0472-0475,U+0490-04c2,U+04cf-04d9,U+04dc-04e9,U+04ee-04f9,U+0524-0525
}

@font-face {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 400;
  src: local("IBM Plex Sans"),local("IBMPlexSans"),url(/assets/fonts/IBMPlexSans-Regular-Greek.4013a407.woff2) format("woff2");
  unicode-range: U+037e,U+0386-038a,U+038c,U+038e-03a1,U+03a3-03ce
}

@font-face {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 400;
  src: local("IBM Plex Sans"),local("IBMPlexSans"),url(/assets/fonts/IBMPlexSans-Regular-Latin1.woff2) format("woff2");
  unicode-range: U+0000,U+000d,U+0020-007e,U+00a0-00ff,U+0131,U+0152-0153,U+02c6,U+02da,U+02dc,U+2013-2014,U+2018-201a,U+201c-201e,U+2020-2022,U+2026,U+2030,U+2039-203a,U+2044,U+20ac,U+2122,U+2212,U+fb01-fb02
}

@font-face {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 400;
  src: local("IBM Plex Sans"),local("IBMPlexSans"),url(/assets/fonts/IBMPlexSans-Regular-Latin2.d5a99287.woff2) format("woff2");
  unicode-range: U+0100-0101,U+0104-0130,U+0132-0151,U+0154-017f,U+018f,U+0192,U+01a0-01a1,U+01af-01b0,U+01fa-01ff,U+0218-021b,U+0237,U+0259,U+1e80-1e85,U+1e9e,U+20a1,U+20a4,U+20a6,U+20a8-20aa,U+20ad-20ae,U+20b1-20b2,U+20b4-20b5,U+20b8-20ba,U+20bd,U+20bf
}

@font-face {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 400;
  src: local("IBM Plex Sans"),local("IBMPlexSans"),url(/assets/fonts/IBMPlexSans-Regular-Latin3.d96fc565.woff2) format("woff2");
  unicode-range: U+0102-0103,U+01cd-01dc,U+1ea0-1ef9,U+20ab
}

@font-face {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 400;
  src: local("IBM Plex Sans"),local("IBMPlexSans"),url(/assets/fonts/IBMPlexSans-Regular-Pi.07f827a3.woff2) format("woff2");
  unicode-range: U+0e3f,U+2000-200d,U+2015,U+2028-2029,U+202f,U+2032-2033,U+2070,U+2074-2079,U+2080-2089,U+2113,U+2116,U+2126,U+212e,U+2150-2151,U+2153-215e,U+2190-2199,U+21a9-21aa,U+21b0-21b3,U+21b6-21b7,U+21ba-21bb,U+21c4,U+21c6,U+2202,U+2206,U+220f,U+2211,U+2215,U+221a,U+221e,U+222b,U+2248,U+2260,U+2264-2265,U+25ca,U+2713,U+274c,U+2b0e-2b11,U+ece0,U+efcc,U+feff,U+fffd
}

@font-face {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 600;
  src: local("IBM Plex Sans SmBld"),local("IBMPlexSans-SmBld"),url(/assets/fonts/IBMPlexSans-SemiBold-Cyrillic.96579dd9.woff2) format("woff2");
  unicode-range: U+0400-045f,U+0462-0463,U+0472-0475,U+0490-04c2,U+04cf-04d9,U+04dc-04e9,U+04ee-04f9,U+0524-0525
}

@font-face {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 600;
  src: local("IBM Plex Sans SmBld"),local("IBMPlexSans-SmBld"),url(/assets/fonts/IBMPlexSans-SemiBold-Greek.2100f813.woff2) format("woff2");
  unicode-range: U+037e,U+0386-038a,U+038c,U+038e-03a1,U+03a3-03ce
}

@font-face {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 600;
  src: local("IBM Plex Sans SmBld"),local("IBMPlexSans-SmBld"),url(/assets/fonts/IBMPlexSans-SemiBold-Latin1.9c32194d.woff2) format("woff2");
  unicode-range: U+0000,U+000d,U+0020-007e,U+00a0-00ff,U+0131,U+0152-0153,U+02c6,U+02da,U+02dc,U+2013-2014,U+2018-201a,U+201c-201e,U+2020-2022,U+2026,U+2030,U+2039-203a,U+2044,U+20ac,U+2122,U+2212,U+fb01-fb02
}

@font-face {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 600;
  src: local("IBM Plex Sans SmBld"),local("IBMPlexSans-SmBld"),url(/assets/fonts/IBMPlexSans-SemiBold-Latin2.c1ad1961.woff2) format("woff2");
  unicode-range: U+0100-0101,U+0104-0130,U+0132-0151,U+0154-017f,U+018f,U+0192,U+01a0-01a1,U+01af-01b0,U+01fa-01ff,U+0218-021b,U+0237,U+0259,U+1e80-1e85,U+1e9e,U+20a1,U+20a4,U+20a6,U+20a8-20aa,U+20ad-20ae,U+20b1-20b2,U+20b4-20b5,U+20b8-20ba,U+20bd,U+20bf
}

@font-face {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 600;
  src: local("IBM Plex Sans SmBld"),local("IBMPlexSans-SmBld"),url(/assets/fonts/IBMPlexSans-SemiBold-Latin3.a66b2f3f.woff2) format("woff2");
  unicode-range: U+0102-0103,U+01cd-01dc,U+1ea0-1ef9,U+20ab
}

@font-face {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 600;
  src: local("IBM Plex Sans SmBld"),local("IBMPlexSans-SmBld"),url(/assets/fonts/IBMPlexSans-SemiBold-Pi.f82cdfc2.woff2) format("woff2");
  unicode-range: U+0e3f,U+2000-200d,U+2015,U+2028-2029,U+202f,U+2032-2033,U+2070,U+2074-2079,U+2080-2089,U+2113,U+2116,U+2126,U+212e,U+2150-2151,U+2153-215e,U+2190-2199,U+21a9-21aa,U+21b0-21b3,U+21b6-21b7,U+21ba-21bb,U+21c4,U+21c6,U+2202,U+2206,U+220f,U+2211,U+2215,U+221a,U+221e,U+222b,U+2248,U+2260,U+2264-2265,U+25ca,U+2713,U+274c,U+2b0e-2b11,U+ece0,U+efcc,U+feff,U+fffd
}

@font-face {
  font-family: IBM Plex Sans;
  font-style: italic;
  font-weight: 600;
  src: local("IBM Plex Sans SmBld Italic"),local("IBMPlexSans-SmBldItalic"),url(/assets/fonts/IBMPlexSans-SemiBoldItalic-Cyrillic.63df98b4.woff2) format("woff2");
  unicode-range: U+0400-045f,U+0462-0463,U+0472-0475,U+0490-04c2,U+04cf-04d9,U+04dc-04e9,U+04ee-04f9,U+0524-0525
}

@font-face {
  font-family: IBM Plex Sans;
  font-style: italic;
  font-weight: 600;
  src: local("IBM Plex Sans SmBld Italic"),local("IBMPlexSans-SmBldItalic"),url(/assets/fonts/IBMPlexSans-SemiBoldItalic-Greek.48ce927c.woff2) format("woff2");
  unicode-range: U+037e,U+0386-038a,U+038c,U+038e-03a1,U+03a3-03ce
}

@font-face {
  font-family: IBM Plex Sans;
  font-style: italic;
  font-weight: 600;
  src: local("IBM Plex Sans SmBld Italic"),local("IBMPlexSans-SmBldItalic"),url(/assets/fonts/IBMPlexSans-SemiBoldItalic-Latin1.92179916.woff2) format("woff2");
  unicode-range: U+0000,U+000d,U+0020-007e,U+00a0-00ff,U+0131,U+0152-0153,U+02c6,U+02da,U+02dc,U+2013-2014,U+2018-201a,U+201c-201e,U+2020-2022,U+2026,U+2030,U+2039-203a,U+2044,U+20ac,U+2122,U+2212,U+fb01-fb02
}

@font-face {
  font-family: IBM Plex Sans;
  font-style: italic;
  font-weight: 600;
  src: local("IBM Plex Sans SmBld Italic"),local("IBMPlexSans-SmBldItalic"),url(/assets/fonts/IBMPlexSans-SemiBoldItalic-Latin2.6967dd27.woff2) format("woff2");
  unicode-range: U+0100-0101,U+0104-0130,U+0132-0151,U+0154-017f,U+018f,U+0192,U+01a0-01a1,U+01af-01b0,U+01fa-01ff,U+0218-021b,U+0237,U+0259,U+1e80-1e85,U+1e9e,U+20a1,U+20a4,U+20a6,U+20a8-20aa,U+20ad-20ae,U+20b1-20b2,U+20b4-20b5,U+20b8-20ba,U+20bd,U+20bf
}

@font-face {
  font-family: IBM Plex Sans;
  font-style: italic;
  font-weight: 600;
  src: local("IBM Plex Sans SmBld Italic"),local("IBMPlexSans-SmBldItalic"),url(/assets/fonts/IBMPlexSans-SemiBoldItalic-Latin3.58738a23.woff2) format("woff2");
  unicode-range: U+0102-0103,U+01cd-01dc,U+1ea0-1ef9,U+20ab
}

@font-face {
  font-family: IBM Plex Sans;
  font-style: italic;
  font-weight: 600;
  src: local("IBM Plex Sans SmBld Italic"),local("IBMPlexSans-SmBldItalic"),url(/assets/fonts/IBMPlexSans-SemiBoldItalic-Pi.9bc72729.woff2) format("woff2");
  unicode-range: U+0e3f,U+2000-200d,U+2015,U+2028-2029,U+202f,U+2032-2033,U+2070,U+2074-2079,U+2080-2089,U+2113,U+2116,U+2126,U+212e,U+2150-2151,U+2153-215e,U+2190-2199,U+21a9-21aa,U+21b0-21b3,U+21b6-21b7,U+21ba-21bb,U+21c4,U+21c6,U+2202,U+2206,U+220f,U+2211,U+2215,U+221a,U+221e,U+222b,U+2248,U+2260,U+2264-2265,U+25ca,U+2713,U+274c,U+2b0e-2b11,U+ece0,U+efcc,U+feff,U+fffd
}

@font-face {
  font-family: Celias;
  font-weight: 400;
  src: url(/assets/fonts/CeliasW05-Regular.13784dd6.woff2) format("woff2"),url(/assets/fonts/CeliasW05-Regular.e244f7e3.woff) format("woff")
}

@font-face {
  font-family: Celias;
  font-weight: 700;
  src: url(/assets/fonts/CeliasW05-Bold.83a5f197.woff2) format("woff2"),url(/assets/fonts/CeliasW05-Bold.8dab629a.woff) format("woff")
}

@font-face {
  font-family: Celias;
  font-weight: 500;
  src: url(/assets/fonts/CeliasW05-Medium.7e40c5fb.woff2) format("woff2"),url(/assets/fonts/CeliasW05-Medium.60bc36d2.woff) format("woff")
}

@font-face {
  font-family: Celias;
  font-weight: 100;
  src: url(/assets/fonts/CeliasW05-Thin.woff2) format("woff2"),url(/assets/fonts/CeliasW05-Thin.woff) format("woff")
}

@font-face {
  font-family: GT Condensed Bold;
  font-display: block;
  src: url(/assets/fonts/GT-Standard-VF-Beta-V3.ttf) format("truetype");
  font-weight: 900;
  font-style: normal
}

@font-face {
  font-family: GT Standard S;
  font-display: block;
  src: url(/assets/fonts/GT-Standard-Beta-v3-Regular-S.otf) format("opentype");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: GT Standard S;
  font-display: block;
  src: url(/assets/fonts/GT-Standard-Beta-v3-Black-S.otf) format("opentype");
  font-weight: 900;
  font-style: normal
}

@font-face {
  font-family: GT Standard S;
  font-display: block;
  src: url(/assets/fonts/GT-Standard-Beta-v3-Bold-S.otf) format("opentype");
  font-weight: 700;
  font-style: normal
}

@font-face {
  font-family: GT Standard S;
  font-display: block;
  src: url(/assets/fonts/GT-Standard-Beta-v3-Light-S.otf) format("opentype");
  font-weight: 300;
  font-style: normal
}

@font-face {
  font-family: GT Standard S;
  font-display: block;
  src: url(/assets/fonts/GT-Standard-Beta-v3-Medium-S.otf) format("opentype");
  font-weight: 500;
  font-style: normal
}
