@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  body {
    font-family: Celias;
  }

  a, button {
    outline: none !important;
  }
}

@layer components {
  .portfolio-div {
    margin: 0 auto;
    display: flex;
    overflow: hidden;
    max-width: 100%;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 36px;
    width: 1290.62px;
  }

  .portfolio-blur {
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 15%, black 85%, transparent 100%);
  }

  .floating-row {
    --animation-duration: 100s;
    width: max-content;
    display: flex;
    overflow: hidden;
    flex-flow: row;
    column-gap: 28px;
    padding-left: 28px;
  }

  .floating-element {
    --distance-to-the-start: -159.234375px;
    --distance-to-the-end: 1418.4609375px;
    --element-position: -27.984375px;
    animation-delay: -98.2262s;
    animation-name: fc-baacefea-1;
    animation-duration: var(--animation-duration);
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .melani-cta {
    color: #101114;
    display: flex;
    padding: 8px 12px;
    flex-grow: 1;
    font-size: 16px;
    box-sizing: border-box;
    min-height: 40px;
    align-items: center;
    font-weight: 500;
    line-height: 16px;

    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    font-family: Celias;
    background-color: #fff;position: relative;
    transition: opacity .2s linear 0s;
    border: 2px solid transparent;

  }
  
  .crypton {
    border-radius: 100%;
    overflow: hidden;
    margin-right: 8px;
  }

  .crypto-card {
    color: #242424;
    width: 100%;
    display: flex;
    align-items: center;
    font-family: inherit;
    justify-content: space-between;
  }

  .crypto-card-in {
    display: flex;
    justify-content: center;
  }

  .crypto-card-description {
    color: #3B9B4A;
    font-size: 12px;
    text-align: end;
    font-weight: 500;
    line-height: 18px;
    white-space: nowrap;
  }

  .earning-card {
    width: 100%;
    max-width: 350px;
    box-sizing: border-box;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 0px;
  }

  .pro-gradient {
    background-image: radial-gradient(circle at center top, rgb(49, 35, 76) 10%, rgb(49, 35, 76) 0%, transparent 50%, transparent 100%), linear-gradient(rgb(25, 27, 39), rgb(25, 27, 39));
    background-color: rgb(25, 27, 39);
  }

  .stat-div {
    display: flex;
    gap: 60px 30px;
    flex-flow: wrap;
    align-items: unset;
    justify-content: center;
  }

  .black-card {
    width: 100%;
    max-width: 370px;
    background: rgb(46, 51, 80);
    box-sizing: border-box;
    margin-left: 0px;
    padding: 1px;
    margin-right: 0px;
    border-radius: 8px;
  }

  .black-card-in {
    width: 100%;
    height: 100%;
    background: rgb(32, 35, 51);
    box-sizing: border-box;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 16px;
    border-radius: 8px;
    padding-right: 16px;
  }

  @media (min-width: 600px) {
    .crypto-card {
      width: 270px;
      filter: drop-shadow(0px 10px 20px rgba(41, 41, 42, 0.07));
      padding: 34px 24px 24px 24px;
      box-sizing: border-box;
      text-align: center;
      border-radius: 8px;
      flex-direction: column;
      justify-content: flex-start;
      background-color: white;
    }

    .crypto-card-in {
      align-items: center;
      flex-direction: column;
      justify-content: flex-start;
    }

    .crypto-card-description {
      margin-top: 10px;
    text-align: center;
    }
  }

}
