@keyframes LoadingSpinner_spin__Khjnh {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}
.LoadingSpinner_loadingSpinner__I3e_9 {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  animation: LoadingSpinner_spin__Khjnh 1s linear infinite;
  border-width: var(--loading-track-width, 0.75rem);
}
.LoadingSpinner_skinny__1myo9 {
  border-width: 0.25rem;
}
.LoadingSpinner_light__G6bfI {
  border-style: solid;
  border-color: #ded9f7 #ded9f7 #ded9f7 #2824b6;
}
.LoadingSpinner_dark__G2pDB {
  border-style: solid;
  border-color: #434343 #434343 #434343 #ded9f7;
}
.Dropdown_dropdown__xqZhR.Dropdown_isOpen__xVom1 .Dropdown_button__HuM1Y,
.Dropdown_dropdown__xqZhR:focus-within .Dropdown_button__HuM1Y {
  border-color: #2824b6;
}
.Dropdown_dropdown__xqZhR .Dropdown_label__eTuhL {
  left: 0;
  transition:
    color 0.1s,
    transform 0.1s ease-out;
  white-space: nowrap;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.1px;
}
.Dropdown_dropdown__xqZhR .Dropdown_label__eTuhL,
.Dropdown_dropdown__xqZhR.Dropdown_dirty__PkoqL .Dropdown_label__eTuhL {
  font-family:
    IBM Plex Sans Medium,
    Helvetica,
    Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.Dropdown_dropdown__xqZhR.Dropdown_dirty__PkoqL .Dropdown_label__eTuhL {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.3px;
  line-height: 1.4;
  transition:
    font-size 0.1s,
    color 0.1s,
    transform 0.1s ease-in;
  transform: translateY(-13px);
  color: #656565;
}
.Dropdown_input__RxDnS:focus {
  outline: none;
}
.Dropdown_inputError__NF73x {
  color: #e2444d;
}
.Dropdown_inputCtn__ljmDS {
  border-bottom: 1px solid #d6d6d6;
}
.Dropdown_value__6iRjF {
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}
.Dropdown_value__6iRjF.Dropdown_noLabel__D2Ouq {
  padding-top: 0.5rem;
}
.Dropdown_subOptionGroup__23OWL:not(:first-child) {
  border-top: 1px solid #d6d6d6;
}
.Dropdown_subOptionGroup__23OWL .Dropdown_groupHeading__xQeI4 {
  cursor: default;
  border-bottom: 1px solid #d6d6d6;
}
.Dropdown_item__fVvbz .Dropdown_showTopBorder__8oRnV:first-of-type,
.Dropdown_item__fVvbz:not(:last-child) .Dropdown_subOptionGroup__23OWL {
  border-bottom: 1px solid #d6d6d6;
}
.Dropdown_menu__z_Axa {
  overflow-x: hidden;
  max-height: 419px;
  overflow-y: auto;
}
.Dropdown_menu__z_Axa:focus {
  outline: none;
}
.Dropdown_menuMobile__mTYfF {
  overflow-x: hidden;
  max-height: 129px;
  overflow-y: auto;
}
.Dropdown_menuMobile__mTYfF:focus {
  outline: none;
}
.Dropdown_inModal__KNuvY[data-reach-popover],
.Dropdown_zIndexFix__2vQCN {
  z-index: 10;
}
.Dropdown_labelContainer__XqiJW {
  width: calc(100% - 24px);
}
.Dropdown_fixedHeightDropdownItem__76ob4 {
  height: 48px;
  max-height: 48px;
  min-height: 48px;
}
.Dropdown_fixedHeightDropdownItem__76ob4 span {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.Checkbox_checkbox__tVuzm.Checkbox_disabled__IrtgK input {
  cursor: not-allowed;
}
.Checkbox_checkbox__tVuzm.Checkbox_disabled__IrtgK .svg-icon {
  opacity: 0.3;
}
.Checkbox_checkbox__tVuzm .Checkbox_checkboxWrapper__DxxqK {
  position: relative;
  display: flex;
}
.Checkbox_checkbox__tVuzm .Checkbox_checkboxWrapper__DxxqK input {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  margin: 0;
  padding: 0;
}
.Checkbox_checkbox__tVuzm:focus-within {
  color: #2824b6;
}
.Field_dropdown__ouDSP .Field_toggleButton__uzqEC:focus {
  outline: none;
}
.Field_dropdown__ouDSP .Field_toggleButton__uzqEC:disabled {
  opacity: 0.5;
}
.Field_dropdown__ouDSP .Field_inputCtn__UTn4o {
  border-bottom: 1px solid #d6d6d6;
}
.Field_popover__I2ltp .Field_menu___bbb8 {
  min-width: 96px;
  overflow-x: hidden;
  overflow-y: auto;
  right: 0;
}
.Field_popover__I2ltp .Field_menu___bbb8:focus {
  outline: none;
}
.Field_popover__I2ltp .Field_item__ohyP6 {
  padding-left: 10px;
}
.Field_popover__I2ltp
  .Field_item__ohyP6
  .Field_showTopBorder__EMYoy:first-of-type {
  border-bottom: 1px solid #d6d6d6;
}
.Field_withIconRight__RNGxu {
  padding-right: 3rem !important;
}
.Field_iconRight__no4ud {
  position: absolute;
  border-radius: 2px;
  padding: 0.25rem !important;
  right: 0.75rem;
}
.Field_iconRight__no4ud:focus-within {
  background: #eeecfb;
}
.Field_container__pu8Jm {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.Field_container__pu8Jm:focus-within
  .Field_FieldItem__7X_wn.Field_label__7VyWb:first-child,
.Field_container__pu8Jm:focus-within
  .Field_FieldItem__7X_wn.Field_label__7VyWb:last-child {
  border-color: #2824b6;
}
.Field_container__pu8Jm .Field_FieldItem__7X_wn {
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #d6d6d6;
  border-top: 1px #d6d6d6;
  border-style: solid;
}
.Field_container__pu8Jm .Field_FieldItem__7X_wn:first-child {
  border-left: 1px solid #d6d6d6;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.Field_container__pu8Jm .Field_FieldItem__7X_wn:last-child {
  border-right: 1px solid #d6d6d6;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.Field_container__pu8Jm .Field_FieldItem__7X_wn.Field_label__7VyWb {
  border-color: #898989;
}
.Field_container__pu8Jm .Field_FieldItem__7X_wn.Field_label__7VyWb:first-child {
  border-right: 1px solid #898989;
}
.Field_container__pu8Jm .Field_FieldItem__7X_wn.Field_label__7VyWb:last-child {
  border-left: 1px solid #898989;
}
.Field_container__pu8Jm:focus-within .Field_FieldItem__7X_wn {
  border-color: #2824b6;
}
.Field_container__pu8Jm.Field_positive__z2XMM .Field_FieldItem__7X_wn {
  border-color: #3b9b4a;
}
.Field_container__pu8Jm:not(:focus-within).Field_negative__j56x_
  .Field_FieldItem__7X_wn {
  border-color: #e2444d;
}
.Field_container__pu8Jm:not(:focus-within).Field_negative__j56x_
  .Field_floatingLabel__60KIb,
.Field_container__pu8Jm:not(:focus-within).Field_negative__j56x_
  .Field_label__7VyWb {
  color: #e2444d;
}
.Field_container__pu8Jm .Field_floatingLabel__60KIb {
  left: 0;
  transition:
    color 0.1s,
    transform 0.1s ease-out;
  transform: translateX(0.75rem);
  font-family:
    IBM Plex Sans,
    Helvetica,
    Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1.4;
}
.Field_container__pu8Jm.Field_dirty__1jb3q .Field_floatingLabel__60KIb,
.Field_container__pu8Jm:focus-within .Field_floatingLabel__60KIb {
  font-family:
    IBM Plex Sans,
    Helvetica,
    Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  line-height: 1.33;
  top: 20px;
  line-height: 1.4;
  transition:
    font-size 0.1s,
    color 0.1s,
    transform 0.1s ease-in;
  transform: translate(0.75rem, calc(-1 * 0.75rem));
  color: #656565;
}
.Field_container__pu8Jm.Field_dirty__1jb3q
  .Field_floatingLabel__60KIb.Field_compact__HtpLO,
.Field_container__pu8Jm:focus-within
  .Field_floatingLabel__60KIb.Field_compact__HtpLO {
  transform: translate(0.5rem, calc(-1 * 0.75rem));
  top: 18px;
}
.Field_container__pu8Jm .Field_input__k7167 {
  background: 0;
  box-shadow: none;
}
.Field_container__pu8Jm .Field_input__k7167.Field_floating__TyD0B {
  border: 0;
  padding-top: calc(1px + 1.5rem);
  padding-bottom: calc(1px + 0.5rem);
}
.Field_container__pu8Jm .Field_input__k7167:focus {
  outline: 0;
}
.Field_container__pu8Jm .Field_input__k7167:not(.Field_floating__TyD0B) {
  padding-top: 18px;
  padding-bottom: 18px;
}
.Field_container__pu8Jm .Field_input__k7167.Field_compact__HtpLO {
  padding-left: 0.5rem;
  padding-top: calc(2px + 0.75rem);
  padding-bottom: calc(2px + 0.75rem);
}
.Field_container__pu8Jm
  .Field_input__k7167.Field_compact__HtpLO.Field_floating__TyD0B {
  padding-top: 1.5rem;
  padding-bottom: 0.25rem;
}
.Field_inModal__039qU[data-reach-popover] {
  z-index: 10;
}
.Field_staticInputFloatingLabel__3Q390 {
  display: flex;
  align-items: center;
}
.Field_staticInputInfoIcon__4CPEV {
  margin-left: 5px;
  color: #d6d6d6;
}
.Field_warningBox__6_VSx {
  position: relative;
  margin-top: -1.16rem;
  margin-bottom: 1rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.Field_requiredTag__Txqp5 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  width: 67px;
  height: 16px;
  color: #000;
  background: #ffd24c;
  border-radius: 4px;
  font-size: 10px;
  text-transform: uppercase;
}
.Field_multiline__A5tpC {
  white-space: pre-line;
}
.common_confirmationWrapper__TODp9 {
  margin-bottom: 1.5rem;
}
.common_confirmationButton__FNtAr {
  height: 40px !important;
  border-radius: 100vh !important;
}
.common_confirmationButton__FNtAr:not(:hover) {
  background: #5841d8 !important;
}
.common_retailField__A1vbL.common_retailDirty__Fg9Xy label,
.common_retailField__A1vbL.common_retailOpen__9JPgp label {
  font-family:
    IBM Plex Sans Medium,
    Helvetica,
    Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.3px;
  line-height: 1.4;
  transition:
    font-size 0.1s,
    color 0.1s,
    transform 0.1s ease-in;
  transform: translateY(calc(-1 * 0.75rem)) !important;
}
.common_retailField__A1vbL .common_fieldItem__NCgwG {
  border-left: 0 !important;
  border-top: 0 !important;
  border-right: 0 !important;
  border-bottom: 1px #d6d6d6;
  border-style: solid;
  padding-left: 0 !important;
}
.common_retailField__A1vbL .common_fieldItem__NCgwG:first-child {
  border-left: 0 !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.common_retailField__A1vbL .common_fieldItem__NCgwG:last-child {
  border-right: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.common_retailField__A1vbL .common_fieldItem__NCgwG label {
  font-weight: 400 !important;
  transform: none;
}
.common_retailField__A1vbL .common_fieldItem__NCgwG:focus-within label {
  transform: translateY(calc(-1 * 0.75rem)) !important;
}
.common_retailField__A1vbL input {
  padding-left: 0 !important;
}
.common_retailField__A1vbL .common_value__42WTZ {
  padding-top: calc(1px + 1.5rem);
  padding-bottom: 0.5rem;
}
.common_fontWeightMonoRetail__pMPtX {
  font-family:
    Kraken Plex Mono Regular,
    Consolas,
    Menlo,
    Courier New,
    monospace !important;
}
.common_fontWeightMonoRetail__pMPtX * {
  font-family: inherit !important;
}
.common_fontWeightRetail__8jHma {
  font-family:
    IBM Plex Sans,
    Helvetica,
    Arial,
    sans-serif !important;
}
.common_fontWeightRetail__8jHma * {
  font-family: inherit !important;
}
.common_fontWeightRetail__8jHma::placeholder * {
  font-family: inherit !important;
}
.common_nameFields__AfloR {
  display: flex;
}
@media screen and (max-width: 767px) {
  .common_nameFields__AfloR {
    display: block;
  }
}
.common_firstNameField__b8eL_ {
  margin-right: 0.5rem;
}
.common_lastNameField__owyeW {
  margin-left: 0.5rem;
}
@media screen and (max-width: 767px) {
  .common_lastNameField__owyeW {
    margin-left: 0;
  }
}
.common_ssnHelp___E7CG {
  font-family:
    IBM Plex Sans,
    Helvetica,
    Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  line-height: 1.4;
  color: #656565;
  font-style: italic;
  padding-top: 0.5rem;
  max-width: 180px;
}
@media screen and (min-width: 768px) {
  .common_mediumMb0__ZJO2A {
    margin-bottom: 0;
  }
}
.common_checkboxLabel__JczdJ,
.common_requiredText__RarvA {
  font-family:
    IBM Plex Sans,
    Helvetica,
    Arial,
    sans-serif;
}
.common_checkboxLabel__JczdJ {
  font-weight: 400;
  padding-top: 0.25rem;
}
.common_layoutLink__L7t9H {
  font-family:
    IBM Plex Sans Bold,
    Helvetica,
    Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  line-height: 1.4;
  border: 2px solid #5841d8;
  border-radius: 50px;
  padding: 0.75rem 1rem;
  transition: all 0.2s;
  display: block;
}
.common_layoutLink__L7t9H:not([class*="text-"]) {
  color: #2824b6;
}
.common_layoutLink__L7t9H:hover {
  color: #eeecfb;
  border-color: #eeecfb;
  background-color: #2824b6;
}
@media screen and (max-width: 992px) {
  .common_layoutLink__L7t9H {
    color: #5841d8;
    border-color: #5841d8;
  }
  .common_layoutLink__L7t9H:hover {
    color: #2824b6;
    background-color: #f7f6fd;
    border-color: #2824b6;
  }
}
.Tooltip_tooltip__6DmKD[data-reach-tooltip] {
  padding: 0.5rem;
  border: none;
  white-space: inherit;
  font-family: IBM Plex Sans;
  border-radius: 4px;
  color: var(--text-color, #fff);
  background-color: var(--surface-color, #242424);
  position: absolute;
  z-index: 1;
  pointer-events: none;
  font-family:
    IBM Plex Sans,
    Helvetica,
    Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  line-height: 1.4;
}
.Tooltip_tooltip__6DmKD[data-reach-tooltip].Tooltip_large__VzacL {
  padding-bottom: 21px;
}
.Tooltip_tooltip__6DmKD[data-reach-tooltip].Tooltip_inModal__dhnUp {
  z-index: 10;
}
.TooltipArrow_arrowContainer__CrW8T {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
.TooltipArrow_arrow__If0Ni {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  color: var(--text-color, #fff);
  background-color: var(--surface-color, #242424);
}
.TooltipArrow_arrow__If0Ni:after {
  content: "";
  position: absolute;
  transform: rotate(-45deg);
  width: 0;
  height: 0;
  box-sizing: border-box;
  transform-origin: 0 0;
  border-width: 12px;
  border-style: solid;
  border-color: transparent transparent var(--surface-color, #242424)
    var(--surface-color, #242424);
  border-bottom-left-radius: 4px;
}
.TooltipArrow_arrow__If0Ni.TooltipArrow_small__LHHCg:after {
  border-width: 8px;
}
.TooltipArrow_arrow__If0Ni.TooltipArrow_micro__Q4XZD:after {
  border-width: 4px;
  border-bottom-left-radius: 0;
}
.TooltipArrow_arrow__If0Ni.TooltipArrow_flip__GgZL_:after {
  transform: rotate(135deg) translate(-100%, -100%);
}
.TooltipArrow_arrow__If0Ni.TooltipArrow_inModal__QNDCr {
  z-index: 10;
}
.Notice_notice__ngdLX {
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
  border: 1px solid transparent;
  font-family:
    IBM Plex Sans Medium,
    Helvetica,
    Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.1px;
}
.Notice_notice__ngdLX a {
  font-weight: 700;
  color: #2824b6;
}
.Notice_notice__ngdLX.Notice_info__JQlwt {
  background: #f7f6fd;
  border-color: #5d45dc;
  color: #5d45dc;
}
.Notice_notice__ngdLX.Notice_info2__17HaR {
  background: #e9f9fe;
  border-color: #004e79;
  color: #004e79;
}
.Notice_notice__ngdLX.Notice_warning__tayCa {
  background: #fff6db;
  border-color: #a38102;
  color: #785c00;
}
.Notice_notice__ngdLX.Notice_error__OGlTJ {
  background: #fbdbdd;
  border-color: #8c0212;
  color: #bc1b31;
}
.Notice_notice__ngdLX.Notice_success__7S39L {
  background: #f7fcf8;
  border-color: #3b9b4a;
  color: #3b9b4a;
}
@media screen and (max-width: 480px) {
  .Confirmation_confirmation__lhapu {
    flex-direction: column;
  }
  .Confirmation_loadingIndicator__vvAhg {
    margin-bottom: 0.75rem;
  }
  .Confirmation_buttons__frldb {
    width: 100%;
  }
  .Confirmation_cancelButton__T_F0Z {
    width: 100%;
    margin-bottom: 0.5rem;
  }
  .Confirmation_confirmButton__y7nzf {
    width: 100%;
  }
}
.Confirmation_loadingSpinner__XPq_7 {
  width: 1.5rem;
  height: 1.5rem;
}
[data-js-focus-visible]
  .Button_button__TFMJO:focus-visible
  .Button_focusRing__PwUep {
  border-color: #69f3ff;
  position: relative;
}
[data-js-focus-visible]
  .Button_button__TFMJO:focus-visible
  .Button_focusRing__PwUep:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(105, 243, 255, 0.2);
}
[data-js-focus-visible] .Button_button__TFMJO .Button_spacer__e1adq {
  border: 1px solid transparent;
  border-radius: 4px;
}
[data-js-focus-visible] .Button_button__TFMJO .Button_focusRing__PwUep {
  border-radius: 5px;
  margin: -2px;
  border: 1px solid transparent;
}
a.Button_button__TFMJO
  .Button_buttonInner__jR_OY:not(.Button_fullWidth__4qilG) {
  min-width: inherit;
}
.Button_button__TFMJO {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family:
    IBM Plex Sans Medium,
    Helvetica,
    Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.3px;
}
.Button_button__TFMJO .Button_buttonInner__jR_OY {
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    background 0.25s ease-in-out,
    border 0.25s ease-in-out,
    color 0.25s ease-in-out;
  min-width: 180px;
  border-radius: 4px;
}
@media screen and (max-width: 767px) {
  .responsive-container .Button_button__TFMJO .Button_buttonInner__jR_OY {
    min-width: 140px;
  }
}
.Button_button__TFMJO.Button_full-width__MQ_8z {
  width: 100%;
}
.Button_button__TFMJO.Button_full-width__MQ_8z .Button_buttonInner__jR_OY {
  width: 100%;
}
.Button_button__TFMJO.Button_extra-large__LbzBw .Button_buttonInner__jR_OY,
.Button_button__TFMJO.Button_full-width__MQ_8z .Button_buttonInner__jR_OY {
  font-family:
    IBM Plex Sans Bold,
    Helvetica,
    Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.1px;
  padding: 1rem !important;
  height: 3.5rem;
}
.Button_button__TFMJO.Button_large__ezPdd .Button_buttonInner__jR_OY {
  font-size: 16px;
  padding: 0.75rem !important;
  height: 3rem;
}
.Button_button__TFMJO.Button_large__ezPdd .Button_buttonInner__jR_OY,
.Button_button__TFMJO.Button_small__QqbET .Button_buttonInner__jR_OY {
  font-family:
    IBM Plex Sans Bold,
    Helvetica,
    Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.4;
  letter-spacing: 0.1px;
}
.Button_button__TFMJO.Button_small__QqbET .Button_buttonInner__jR_OY {
  padding: 0.25rem 0.75rem !important;
  height: 2rem;
  font-size: 14px;
}
.Button_button__TFMJO.Button_micro__83Yy2 .Button_buttonInner__jR_OY {
  padding: 0.25rem 0.75rem !important;
  height: 2rem;
  font-family:
    IBM Plex Sans Bold,
    Helvetica,
    Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.5px;
}
.Button_button__TFMJO.Button_primary__pilh4 .Button_buttonInner__jR_OY {
  background: #2824b6;
  border: none;
  color: #fff;
}
.Button_button__TFMJO.Button_primary__pilh4.Button_disabled__SbmCo,
.Button_button__TFMJO.Button_primary__pilh4:disabled,
.Button_button__TFMJO.Button_primary__pilh4[disabled] {
  cursor: default;
}
.Button_button__TFMJO.Button_primary__pilh4.Button_disabled__SbmCo
  .Button_buttonInner__jR_OY,
.Button_button__TFMJO.Button_primary__pilh4:disabled .Button_buttonInner__jR_OY,
.Button_button__TFMJO.Button_primary__pilh4[disabled]
  .Button_buttonInner__jR_OY {
  background: #ded9f7 !important;
}
.Button_button__TFMJO.Button_primary__pilh4:hover .Button_buttonInner__jR_OY {
  background: #8968ff;
}
.Button_button__TFMJO.Button_primary__pilh4:active .Button_buttonInner__jR_OY {
  background: #000081;
}
.Button_button__TFMJO.Button_secondary__pJmkn .Button_buttonInner__jR_OY {
  background: #fff;
  border: 1px solid #2824b6;
  color: #2824b6;
}
.Button_button__TFMJO.Button_secondary__pJmkn.Button_disabled__SbmCo,
.Button_button__TFMJO.Button_secondary__pJmkn:disabled,
.Button_button__TFMJO.Button_secondary__pJmkn[disabled] {
  cursor: default;
}
.Button_button__TFMJO.Button_secondary__pJmkn.Button_disabled__SbmCo
  .Button_buttonInner__jR_OY,
.Button_button__TFMJO.Button_secondary__pJmkn:disabled
  .Button_buttonInner__jR_OY,
.Button_button__TFMJO.Button_secondary__pJmkn[disabled]
  .Button_buttonInner__jR_OY {
  opacity: 0.5 !important;
}
.Button_button__TFMJO.Button_secondary__pJmkn:hover .Button_buttonInner__jR_OY {
  background: #f7f6fd;
}
.Button_button__TFMJO.Button_secondary__pJmkn:active
  .Button_buttonInner__jR_OY {
  background: #eeecfb;
}
.Button_button__TFMJO.Button_secondary__pJmkn.Button_small__QqbET
  .Button_buttonInner__jR_OY {
  font-family:
    IBM Plex Sans Medium,
    Helvetica,
    Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.1px;
}
.Button_button__TFMJO.Button_tertiary__Fjf_O .Button_buttonInner__jR_OY {
  background: #fff;
  border: 1px solid #434343;
  color: #434343;
}
.Button_button__TFMJO.Button_tertiary__Fjf_O:active .Button_buttonInner__jR_OY {
  background: #fafafa;
}
.Button_button__TFMJO.Button_tertiary__Fjf_O.Button_disabled__SbmCo,
.Button_button__TFMJO.Button_tertiary__Fjf_O:disabled,
.Button_button__TFMJO.Button_tertiary__Fjf_O[disabled] {
  cursor: default;
}
.Button_button__TFMJO.Button_tertiary__Fjf_O.Button_disabled__SbmCo
  .Button_buttonInner__jR_OY,
.Button_button__TFMJO.Button_tertiary__Fjf_O:disabled
  .Button_buttonInner__jR_OY,
.Button_button__TFMJO.Button_tertiary__Fjf_O[disabled]
  .Button_buttonInner__jR_OY {
  color: #d6d6d6 !important;
  border-color: #d6d6d6 !important;
}
.Button_button__TFMJO.Button_tertiary__Fjf_O.Button_small__QqbET
  .Button_buttonInner__jR_OY {
  font-family:
    IBM Plex Sans Medium,
    Helvetica,
    Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.1px;
}
.Button_button__TFMJO.Button_cancel__H8KEF .Button_buttonInner__jR_OY {
  background: #fff;
  border: 1px solid transparent;
  color: #434343;
}
.Button_button__TFMJO.Button_cancel__H8KEF:hover .Button_buttonInner__jR_OY {
  border: 1px solid #d6d6d6;
}
.Button_button__TFMJO.Button_cancel__H8KEF:active .Button_buttonInner__jR_OY {
  background: #fafafa;
  border: 1px solid #d6d6d6;
}
.Button_button__TFMJO.Button_positive___2M29 .Button_buttonInner__jR_OY {
  background: #067325;
  border: none;
  color: #fff;
}
.Button_button__TFMJO.Button_positive___2M29:hover .Button_buttonInner__jR_OY {
  background: #67c570;
}
.Button_button__TFMJO.Button_positive___2M29:active .Button_buttonInner__jR_OY {
  background: #004b03;
}
.Button_button__TFMJO.Button_negative___H9at .Button_buttonInner__jR_OY {
  background: #bc1b31;
  border: none;
  color: #fff;
}
.Button_button__TFMJO.Button_negative___H9at:hover .Button_buttonInner__jR_OY {
  background: #fb7273;
}
.Button_button__TFMJO.Button_negative___H9at:active .Button_buttonInner__jR_OY {
  background: #8c0212;
}
.Button_button__TFMJO.Button_transparentDark__iqv2O .Button_buttonInner__jR_OY {
  background: 0 0;
  border: 1px solid #fff;
  color: #fff;
}
.Button_button__TFMJO.Button_transparentLight__LOeeh
  .Button_buttonInner__jR_OY {
  background: 0 0;
  border: 1px solid #000;
  color: #000;
}
a.Button_button__TFMJO {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
a.Button_button__TFMJO:hover {
  text-decoration: none;
}
[data-js-focus-visible]
  .SegmentedController_segmentedOption__s4WGp:focus-visible {
  overflow: hidden;
  border-color: #69f3ff !important;
  outline: none;
  position: relative;
}
[data-js-focus-visible]
  .SegmentedController_segmentedOption__s4WGp:focus-visible:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(105, 243, 255, 0.2);
}
.SegmentedController_segmentedController__PKGkw.SegmentedController_nano__CJ14u
  .SegmentedController_segmentedOption__s4WGp.SegmentedController_isSelected__ZjU6E {
  font-family:
    IBM Plex Sans Bold,
    Helvetica,
    Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
  line-height: 1.5;
  letter-spacing: 0.3px;
}
.SegmentedController_segmentedController__PKGkw {
  border-radius: 4px;
  height: 24px;
  overflow: hidden;
  font-size: 10px;
  line-height: 1.5;
}
.SegmentedController_segmentedController__PKGkw,
.SegmentedController_segmentedController__PKGkw.SegmentedController_micro__EjSiV {
  font-family:
    IBM Plex Sans Medium,
    Helvetica,
    Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.3px;
}
.SegmentedController_segmentedController__PKGkw.SegmentedController_micro__EjSiV {
  height: 32px;
  font-size: 12px;
  line-height: 1.33;
}
.SegmentedController_segmentedController__PKGkw.SegmentedController_small__V5X9n {
  height: 40px;
  font-size: 14px;
}
.SegmentedController_segmentedController__PKGkw.SegmentedController_large__IKt95,
.SegmentedController_segmentedController__PKGkw.SegmentedController_small__V5X9n {
  font-family:
    IBM Plex Sans Medium,
    Helvetica,
    Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.4;
  letter-spacing: 0.1px;
}
.SegmentedController_segmentedController__PKGkw.SegmentedController_large__IKt95 {
  height: 48px;
  font-size: 16px;
}
.SegmentedController_segmentedController__PKGkw
  .SegmentedController_segmentedOption__s4WGp {
  border: 1px solid var(--border-color, #242424);
  background: var(--surface-color, #fff);
  color: var(--text-color, #242424);
  z-index: 2;
}
.SegmentedController_segmentedController__PKGkw
  .SegmentedController_segmentedOption__s4WGp:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.SegmentedController_segmentedController__PKGkw
  .SegmentedController_segmentedOption__s4WGp:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.SegmentedController_segmentedController__PKGkw
  .SegmentedController_segmentedOption__s4WGp
  input {
  cursor: pointer;
}
.SegmentedController_segmentedController__PKGkw
  .SegmentedController_segmentedOption__s4WGp.SegmentedController_isSelected__ZjU6E {
  color: var(--selected-text-color, #fff);
  background: var(--selected-surface-color, #242424);
  border-color: var(--text-color, #242424);
}
.SegmentedController_segmentedController__PKGkw
  .SegmentedController_segmentedOption__s4WGp.SegmentedController_isSelected__ZjU6E.SegmentedController_disabled__U1rbO {
  background-color: #d6d6d6;
  color: var(--selected-text-color, #fff);
}
.SegmentedController_segmentedController__PKGkw
  .SegmentedController_segmentedOption__s4WGp.SegmentedController_isSelected__ZjU6E.SegmentedController_disabled__U1rbO
  input {
  cursor: default;
}
.SegmentedController_segmentedController__PKGkw
  .SegmentedController_segmentedOption__s4WGp.SegmentedController_isSelected__ZjU6E
  input {
  cursor: auto;
}
.SegmentedController_segmentedController__PKGkw
  .SegmentedController_segmentedOption__s4WGp.SegmentedController_disabled__U1rbO {
  border-color: #d6d6d6;
  color: #d6d6d6;
  z-index: 1;
  cursor: default;
}
.SegmentedController_segmentedController__PKGkw
  .SegmentedController_segmentedOption__s4WGp.SegmentedController_disabled__U1rbO
  input,
.SegmentedController_segmentedController__PKGkw
  .SegmentedController_segmentedOption__s4WGp:disabled,
.SegmentedController_segmentedController__PKGkw
  .SegmentedController_segmentedOption__s4WGp:disabled
  input {
  cursor: default;
}
.SegmentedController_segmentedController__PKGkw.SegmentedController_compact__AXlfP
  .SegmentedController_segmentedOption__s4WGp:not(:first-child) {
  margin-left: -1px;
}
.SegmentedController_tooltip__log1c {
  text-align: center;
  white-space: pre-line;
  max-width: 255px;
}
@media screen and (max-width: 767px) {
  .responsive-container .SegmentedController_segmentedController__PKGkw {
    width: 100%;
    padding: 0;
  }
}
@media screen and (max-width: 480px) {
  .LayoutWrap_layout__QH_MY {
    padding: 1rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 767px) {
  .LayoutWrap_layout__QH_MY {
    padding: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .LayoutWrap_layout__QH_MY {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
  }
  .LayoutWrap_minHeight__V9C6g {
    min-height: 100vh;
  }
  .Background_backgrounds___NAi_ {
    position: fixed;
    top: 0;
  }
  .Background_backgrounds___NAi_:before {
    background-size: cover;
    background-position: 100% 100%;
    content: "";
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
  }
  .Background_pro__zbf_Y:before {
    background-image: url(/accounts/_next/static/media/pro.d68a5101.svg);
  }
  .Background_corporate__C2WtS:before {
    background-image: url(/accounts/_next/static/media/corporate.631258ee.svg);
  }
  .Background_retail__cvwt1:before {
    background-image: url(/accounts/_next/static/media/retail.ac7a55c1.svg);
  }
  .Background_signIn__WbqRI:before {
    background-image: url(/accounts/_next/static/media/sign-in.498bf30c.svg);
  }
  .Background_bankMountain__iIyHb:before {
    background-image: url(/accounts/_next/static/media/bank-mountain.5b52611d.svg);
  }
  .Background_bankBeach__DH2C_:before {
    background-image: url(/accounts/_next/static/media/bank-beach.ddd93c37.svg);
  }
  .Background_fusion__tgWQm:before {
    background-image: url(/accounts/_next/static/media/fusion.de84e5ad.svg);
  }
  .Background_custody__LeMWm:before {
    background-image: url(/accounts/_next/static/media/custody.c936c32f.svg);
  }
}
@keyframes animations_fadeIn__jDsak {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes animations_fadeOut__SQwIX {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.animations_fast__2R378 {
  animation-duration: 0.4s;
}
.animations_medium__Fhtgu {
  animation-duration: 0.9s;
}
.animations_slow__KXE7c {
  animation-duration: 1.4s;
}
.animations_fadeIn__jDsak {
  animation-fill-mode: forwards;
  animation-name: animations_fadeIn__jDsak;
}
.animations_fadeOut__SQwIX {
  animation-fill-mode: forwards;
  animation-name: animations_fadeOut__SQwIX;
}
.ParallaxBackground_parallaxWrapper__kkI2c {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}
@media screen and (min-width: 768px) {
  .ParallaxBackground_parallaxWrapper__kkI2c {
    display: initial;
  }
}
@media screen and (min-width: 481px) and (max-width: 767px) {
  .ParallaxBackground_parallaxWrapper__kkI2c {
    display: none;
  }
}
.ParallaxBackground_parallax__24q_V {
  background-color: #6562dd;
  height: 100vh;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100vw;
}
.ParallaxBackground_background__Z_0Kf {
  background-image: url(/accounts/_next/static/media/background.9d8f61b5.jpg);
  height: 1800px;
  left: -1675px;
  top: -375px;
  width: 4950px;
}
.ParallaxBackground_background__Z_0Kf,
.ParallaxBackground_smallClouds__Y525U {
  background-repeat: no-repeat;
  position: absolute;
  transition: transform 1s;
  transition-timing-function: ease-in-out;
  will-change: transform;
}
.ParallaxBackground_smallClouds__Y525U {
  background-image: url(/accounts/_next/static/media/clouds-small.4f9ba5ba.png);
  height: 453px;
  left: 640px;
  top: 40px;
  width: 1220px;
}
.ParallaxBackground_bigClouds___aWXa {
  background-image: url(/accounts/_next/static/media/clouds-big.ecd0fe96.png);
  height: 658px;
  left: 410px;
  top: 60px;
  width: 1949px;
}
.ParallaxBackground_bigClouds___aWXa,
.ParallaxBackground_gallery__up6nE {
  background-repeat: no-repeat;
  position: absolute;
  transition: transform 1s;
  transition-timing-function: ease-in-out;
  will-change: transform;
}
.ParallaxBackground_gallery__up6nE {
  background-image: url(/accounts/_next/static/media/gallery.390d05a4.png);
  height: 1800px;
  left: -1700px;
  top: -300px;
  width: 4950px;
}
.ParallaxBackground_spheres__9nkAh {
  background-repeat: no-repeat;
  position: absolute;
  transition: transform 1s;
  transition-timing-function: ease-in-out;
  will-change: transform;
  background-image: url(/accounts/_next/static/media/spheres.ba66ab0d.png);
  height: 355px;
  top: 746px;
  left: 0;
  width: 1583px;
}
@media screen and (min-width: 768px) {
  .KBackground_content__UeMoN {
    flex-grow: 1;
    margin-bottom: 3rem;
    margin-left: 74px;
    padding-left: 4.5rem;
    padding-right: 3rem;
    position: relative;
    width: 700px;
    z-index: 1;
  }
  .KBackground_kBackground__IgN0l {
    background-color: #fff;
    height: 100vh;
    margin-left: 74px;
    position: relative;
    width: 700px;
  }
  .KBackground_kBackground__IgN0l:before {
    content: "";
    position: absolute;
    top: -3px;
    bottom: 0;
    left: -73px;
    width: 74px;
    background: url(/accounts/_next/static/media/bg-left.0d8061f6.svg) no-repeat
      100% 0;
    background-size: contain;
  }
  .KBackground_kBackground__IgN0l:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: -339px;
    width: 340px;
    background: url(/accounts/_next/static/media/bg-right.cc0f5605.svg)
      no-repeat;
    background-size: cover;
  }
  .TopBar_content__8twQU {
    flex-grow: 1;
    margin-bottom: 3rem;
    margin-left: 74px;
    padding-left: 4.5rem;
    padding-right: 3rem;
    position: relative;
    width: 700px;
    z-index: 1;
  }
}
.TopBar_topBar__nHIDk {
  align-items: center;
  display: flex;
  gap: 0.25rem;
}
@media screen and (max-width: 480px) {
  .TopBar_topBar__nHIDk {
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 767px) {
  .TopBar_topBar__nHIDk {
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .TopBar_topBar__nHIDk {
    position: relative;
    z-index: 1;
    margin: 2rem 3rem 2rem 74px;
  }
}
.TopBar_logoButton__a2kTE {
  margin-left: -9px;
}
@media screen and (min-width: 768px) {
  .TopBar_logoButton__a2kTE {
    margin-left: -3px;
  }
}
.TopBar_logoLink__kKguz {
  display: block;
  padding: 7px 9px;
}
@media screen and (min-width: 768px) {
  .TopBar_logoLink__kKguz {
    padding: 1px 3px;
  }
}
.TopBar_logo__QFGPn {
  border-radius: 4px;
  fill: #5841d8;
  height: 27px;
  width: 27px;
  z-index: 2;
}
.TopBar_logo__QFGPn:focus {
  outline: none;
}
@media screen and (min-width: 768px) {
  .TopBar_logo__QFGPn {
    height: 40px;
    width: 40px;
  }
}
.TopBar_logoCustody__nySQD {
  height: 27px;
  width: 121px;
}
.TopBar_rightContent__NpzLC {
  align-items: center;
  display: flex;
  gap: 0.25rem;
  margin-left: auto;
}
.TopBar_closeButton__GKXQO {
  margin-left: 0.5rem;
  transition: color 0.2s;
  color: #cfcbf0;
}
.TopBar_closeButton__GKXQO:hover {
  color: #fff;
}
@media screen and (max-width: 767px) {
  .TopBar_closeButton__GKXQO {
    color: #5841d8;
  }
  .TopBar_closeButton__GKXQO:hover {
    color: #000081;
  }
}
.TopBar_closeIcon__aLbnz {
  width: 2.75rem;
  height: 2.75rem;
}
.TopBar_linkFocusLeft__Qyv4d {
  border-radius: 4px;
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}
.TopBar_linkFocusRight__tJs7O {
  border-radius: 4px;
  margin-right: -0.25rem;
  padding: 0.25rem;
}
.FocusDiv_divFocus__75qGP:focus-within {
  box-shadow: 0 0 0 1px #5d45dc;
}
@media screen and (min-width: 768px) {
  .Content_content__4X0_s {
    flex-grow: 1;
    margin-bottom: 3rem;
    margin-left: 74px;
    padding-left: 4.5rem;
    padding-right: 3rem;
    position: relative;
    width: 700px;
    z-index: 1;
  }
}
.LayoutTitle_aboveTitlesWrapper___noEk {
  margin-bottom: 0.5rem;
}
.LayoutTitle_betweenTitles__Awtj3 {
  margin-bottom: 1rem;
}
.LayoutTitle_afterTitles__l4Xed {
  margin-bottom: 2rem;
}
.LayoutTitle_subtitle__1W6KZ {
  font-family:
    IBM Plex Sans,
    Helvetica,
    Arial,
    sans-serif;
  margin-bottom: 2rem;
  color: #656565;
  font-size: 1.25rem;
  line-height: 1.27;
}
.LayoutTitle_subtitle__1W6KZ,
.RetailTitle_retailTitle__v_R0k {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.RetailTitle_retailTitle__v_R0k {
  font-family:
    Celias Thin,
    Helvetica,
    Arial,
    sans-serif;
  letter-spacing: normal !important;
  word-wrap: break-word;
  font-size: 2.625rem !important;
  line-height: 1.27 !important;
  font-weight: 300 !important;
  color: #242424;
}
.RetailTitle_retailTitle__v_R0k:lang(ru-ru),
.RetailTitle_retailTitle__v_R0k:lang(uk-ua),
.RetailTitle_retailTitle__v_R0k:lang(vi-vn) {
  font-family: Helvetica, Arial, sans-serif;
}
